.card {
  margin-top: 0 !important;
}

#guest,
#drink,
#food,
#table,
#other {
  height: 100vh;
  padding-top: 0.5rem;
  background-color: #eee;
}

.tabs .tab a {
  color: #673ab7;
}

.bottom-sheet{
  max-height: 100% !important;
}

.bottom-sheet .modal.content{
  width: 60%; 
  margin: 0px auto
}